functions_nested_loops/0-putchar
functions_nested_loops/1-alphabet~
functions_nested_loops/2-alphabet_x10
functions_nested_loops/3-islower01~
functions_nested_loops/4-isalpha01~
functions_nested_loops/5-sign
functions_nested_loops/6-abs
functions_nested_loops/7-last_digit
variables_if_else_while/print
